.landingMain {
    background: url("../../assets/images/landing.jpeg") center;
    background-size: cover;
    flex-grow: 1;
    padding: 100px;
    text-align: start;
}

.landingMain div {
    color: white;
}

.landingMain .ant-btn {
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    height: 70px;
    padding: 0 30px;
    font-weight: bold;
    letter-spacing: 1px;
    /*padding: 10px;*/
    /*height: 30px;*/
}
