.chat {
    border: 1px solid #ccc;
    height: 100%;
}
.chatList {
    padding: 10px;
    border-right: 1px solid #ccc;
}

.chatConversation {
    /*padding: 10px;*/
}

.conversationHeader span{
    margin-right: 10px;
}
.conversationHeader {
    padding: 10px;
    border-bottom: 1px solid #5d3e92;
}

.chatConversation > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chatConversation > div .messages {
    flex-grow: 1;
    background: #ddd;
    padding: 10px;
    height: 0;
    overflow: auto;
}

.chatConversation > div .messages .message {
    /*background: #ccc;*/
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    max-width: 90%;
    background: #f9f9f9;
}

.chatConversation > div .messages .message .not-seen {
    color: #008cff;
}

.chatConversation > div .messages .message.sent {
    margin-left: auto;
    background: rgb(155 119 207 / 56%);
}

.chatConversation > div .newMessage {
    padding: 7px;
    background: #ddd;
}

.chatConversation > div .newMessage textarea {
    border-radius: 6px;
}
