.side-menu {
    background: transparent;
    display: flex;
    color: #282c34;
    text-align: start;
    padding-top: 50px;
}

.side-menu .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.side-menu .item {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 6px;
}

.side-menu .item.selected {
    font-weight: bold;
}

.side-menu .label {
    font-style: italic;
    font-size: 20px;
    margin-top: 30px;
    cursor: default;
    line-height: 30px;
}

.side-menu a {
    padding: 0;
}
